.tarjeta{
    width: 170px;
    height: 90px;
    background-color: #18B59D;
    color: white;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    transition: 0.3s;

}
.tarjeta:hover{
    background-color: #229480;
    transform: translateY(-3px);
}